@model IEnumerable<CSGS.Models.Entities.Solicitud>
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<br />
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<h2>@ViewBag.IdSolicitante</h2>*@
<h2>MIS APROBACIONES</h2>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    Egresado
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IdSolicitante)
            </th>*@
            
            <th>
            @Localizer["Table_APFechaViaje"]
            </th>


            @*<th>
                @Html.DisplayNameFor(model => model.IdMotivo)
            </th>*@
            <th>@Localizer["Table_APMotivo"]</th>
            <th>
           @Localizer["Table_APDuracionViaje"]
            </th>
            <th>
             @Localizer["Table_APMontoGastar"]
            </th>
            <th>
                @Localizer["Table_APGastosMov"]
            </th>
            <th>
                @Localizer["Table_APGastosH"]
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              @*<td>
                    @Html.DisplayFor(modelItem => item.IdSolicitante)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FechaViaje)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.IdMotivo)
                </td>*@
                <td>@item.Motivo.NombreMotivo</td>
  
                <th>
                @Html.DisplayFor(modelItem => item.DuracionViaje)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.MontoGastar)
            </th>

                <td>
                    @Html.DisplayFor(modelItem => item.GastosMovilidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GastosHotel)
                </td>

             
                <td>
                    @*<product-stock stock="@item.Stock"></product-stock>*@
                    @*<product-stock-div Estado="@item.IdEstado" stock="1"></product-stock-div>*@
                    @*<product-stock-div Estado="@item.IdEstado" ></product-stock-div>*@
                    <solicitud-estado estado="@item.IdEstado"></solicitud-estado>
                    
                </td>
                <td>

               






                    @*<a asp-action="Edit" asp-route-id="@item.IdSolicitud">Edit</a>*@


                </td>
            </tr>
        }
    </tbody>
</table>







<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>
