@model IEnumerable<CSGS.Models.Entities.MatriculaDoc>
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}
<br /><br />
<h2>Lista de estudiantes matriculados</h2>

<h4>Solo para vista de usuario Admin</h4>


<table class="table">
    <thead>
        <tr>

            <th>
                Id
            </th>
            <th>

                IdEstudiante
            </th>



            <th>Curso Matriculado</th>
            <th>

                Fecha de matricula
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IdMatriculaDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstudiante)
                </td>


                <td>@item.CursoExt.TituloCursoExt</td>



                <td>
                    @Html.DisplayFor(modelItem => item.Fechamatricula)
                </td>

                <td>


                    @*<a asp-action="Detalles" asp-route-id="@item.IdCursoExt">@Localizer["ActionDetail"]</a>*@


                </td>

            </tr>
        }
    </tbody>
</table>




<div>
    <a asp-action="IndexA">Refrescar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
