@model CSGS.Models.Entities.CursoExt

@{
    ViewData["Title"] = "Create";
}

<br /><br />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdCursoExt" />
    <div class="form-horizontal">
        <h4>Detalles del curso</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <h2> @ViewBag.IdAdmin</h2>
        @*<div class="form-group">
            <label asp-for="IdSolicitud" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdSolicitud" class="form-control" />
                <span asp-validation-for="IdSolicitud" class="text-danger" />
            </div>
        </div>*@



       <div class="form-group" style="visibility:hidden" >
            <label asp-for="IdAdmin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdAdmin" class="form-control" />@ViewBag.IdAdmin
                <span asp-validation-for="IdAdmin" class="text-danger" />
            </div>
        </div>
       
        


@*
    <div class="form-group">
        <label asp-for="IdSupervisor" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="IdSupervisor" class="form-control" />
            <span asp-validation-for="IdSupervisor" class="text-danger" />
        </div>
    </div>*@
    
        
            <div class="form-group">
            <label asp-for="IdCategoriaExt" class="col-md-2 control-label">Categoria</label>
            <div class="col-md-10">
   
                <select asp-for="IdCategoriaExt" class="form-control"
                        asp-items="@(new SelectList(ViewBag.CategoriaExt,"IdCategoriaExt", "NombreCategoriaExt"))" disabled></select>
            
            
            </div>
        </div>



        @*<div class="form-group">
            <label asp-for="IdEstado" class="col-md-2 control-label">Estado</label>
            <div class="col-md-10">
                <input asp-for="IdEstado" class="form-control" />
                <span asp-validation-for="IdEstado" class="text-danger" />
            </div>
        </div>*@




        <div class="form-group">
            <label asp-for="TituloCursoExt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TituloCursoExt" class="form-control" readonly/>
                <span asp-validation-for="TituloCursoExt" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescripcionCursoExt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescripcionCursoExt" class="form-control" readonly/>
                <span asp-validation-for="DescripcionCursoExt" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ObjetivosCurso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ObjetivosCurso" class="form-control" readonly/>
                <span asp-validation-for="ObjetivosCurso" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReqCurso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReqCurso" class="form-control" readonly/>
                <span asp-validation-for="ReqCurso" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TemarioCurso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TemarioCurso" class="form-control" readonly/>
                <span asp-validation-for="TemarioCurso" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="NivelCurso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NivelCurso" class="form-control" readonly/>
                <span asp-validation-for="NivelCurso" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="FechaInicioMat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaInicioMat" class="form-control" readonly/>
                <span asp-validation-for="FechaInicioMat" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="FechaFinMat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaFinMat" class="form-control" readonly/>
                <span asp-validation-for="FechaFinMat" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FechaInicioClases" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaInicioClases" class="form-control" readonly/>
                <span asp-validation-for="FechaInicioClases" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="DuracionCurso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DuracionCurso" class="form-control" readonly/>
                <span asp-validation-for="DuracionCurso" class="text-danger" />
                <td>Horas</td>
            </div>
        </div>








        <div class="form-group">
            <label asp-for="AudienciaCurso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AudienciaCurso" class="form-control" readonly/>
                <span asp-validation-for="AudienciaCurso" class="text-danger" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="estado2" value="Guardar" class="btn btn-default"  style="visibility:hidden"/>
               
                
         


                @*<input type="submit" name="estado3" value="Rechazar" class="btn btn-default" />*@




                <input type="hidden" name="IdCursoExt" value="IdCursoExt" />
                @*<input type="hidden" name="productID" value="@item.ProductID" />
                <input name="stock" value="@item.Stock" />*@

            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="IndexSG">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
