@model IEnumerable<CSGS.Models.Entities.CursoExt>
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h2>Lista de cursos disponibles</h2>

<h4>Vista disponible para usuario Estudiante e Invitado</h4>

<table class="table">
    <thead>
        <tr>
           
            <th>
               
                Titulo Curso
            </th>
            <th>
              
               Categoria
            </th>


           
            <th>Nivel Curso</th>
            <th>
              
                Fecha inicio matricula
            </th>
            <th>
                Fecha fin matricula
            </th>
            <th>
                Fecha inicio clases
            </th>
            <th>
                Duracion(horas)
            </th>

                <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             

                <th>
                    @Html.DisplayFor(modelItem => item.TituloCursoExt)
                </th>
             

                <td>@item.CategoriaExt.NombreCategoriaExt</td>

                <td>
                    @Html.DisplayFor(modelItem => item.NivelCurso)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.FechaInicioMat)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FechaFinMat)
                </th>
                   <td>
                        @Html.DisplayFor(modelItem => item.FechaInicioClases)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuracionCurso)
                </td>

                <td>

                  
                    <a asp-action="EditSG" asp-route-id="@item.IdCursoExt">Ver mas</a>




                </td>

            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="IndexSG">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
